CYBERCAR_NOTIFY_TELEGRAM_BOT_TOKEN=
CYBERCAR_NOTIFY_TELEGRAM_CHAT_ID=
CYBERCAR_NOTIFY_TELEGRAM_API_BASE=https://api.telegram.org
CYBERCAR_X_CHROME_USER_DATA_DIR=
CYBERCAR_X_CHROME_DEBUG_PORT=
CYBERCAR_X_COOKIE_FILE=
XFYUN_SPARK_ENABLED=0
XFYUN_SPARK_URL=
XFYUN_SPARK_APP_ID=
XFYUN_SPARK_API_KEY=
XFYUN_SPARK_API_SECRET=
XFYUN_SPARK_DOMAIN=generalv3.5
